# Python/Django
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
db.sqlite3
.env
.env.* 
*.sqlite3

# VS Code / IDE
.vscode/
.idea/

# Bytecode / caches
.mypy_cache/
.pytest_cache/

# Node/Frontend (ileride kullanacağız)
node_modules/
dist/
build/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
